# Игнорируем виртуальные окружения
venv/
env/
ENV/
.venv/

# Игнорируем файлы базы данных
*.sqlite3

# Игнорируем файлы кэша Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем настройки IDE (PyCharm, VSCode и т.д.)
.idea/
.vscode/

# Игнорируем логи
*.log

# .gitignore
.env
